nav.navbar.is-dark aria-label=("main navigation") role="navigation" 
  .container
    #navbarBasicExample.navbar-menu
      .navbar-start
        a.navbar-item href="/" 
          | 💻 Blog
        a.navbar-item href="/posts/new" 
          | 📖 Readme
        a.navbar-item href="/posts/new" 
          | + Nova Publicação
        a.navbar-item href="/categories/new" 
          | + Nova Categoria  
      .navbar-end
        .navbar-item
          .buttons
            - unless user_signed_in?
              a.button.is-primary href="/users/sign_up" 
                strong Cadastre-se
              a.button.is-light href="/users/sign_in" 
                | Entrar
            - if user_signed_in?
              = link_to "Sair", destroy_user_session_path, method: :delete, class: 'button is-light'
