.mp32 {
  margin-bottom: 32px;
}

.index-title {
  font-weight: bold;
  margin-bottom: 16px;
}

.index-categories-title {
  font-weight: bold;
}

.categories-container {
  margin-bottom: 32px;
}

.category-pill {
  margin-right: 8px;
}

.posts {
  margin-top: 16px;
  margin-bottom: 32px;

  p {
    color: #3d3d3d;
  }

  a {
    font-weight: bold;
    color: #131313;
    font-size: 1.4em;
  }
}

.post-title {
  font-weight: bold;
  margin-bottom: 16px;
}