.container
  h2.post-title  ="grep #{@category.name} 🔍"
  p ="Posts que possuem a cateogria #{@category.name}"

.container
  - @category.posts.each do |post|
    .posts
      a.list-post-title href=("#{post_path(id: post.id)}") =post.title
      p.subtitle-index= post.subtitle
      p.reading-time
        a.badge.badge-pill.badge-info href="#{@category.name}" = @category.name
        = " 🍵 #{post.reading_time} min de leitura"